@using PerfectBudgetApp.Models.Loans;
@using System.Security.Claims;

@model IEnumerable<LoanRequestViewModel>
@{
}

<div class="container" style=" margin-bottom:0px;  vertical-align: middle;">
    <div class="row justify-content-between">
        <div class="col-2" style=" vertical-align: middle;">
            <h1> Loans </h1style>
        </div>
        <div class="col-2" style=" vertical-align: middle;">
            <form class="input-group-sm" asp-controller="Loan" asp-action="RequestLoan" method="get">
                <input class="mb-xl-4 btn btn-light mb-2 w-100 p-3 fw-bold" style="color:black; background-color:greenyellow;" type="submit" value="Request new loan" />
            </form>
        </div>
    </div>
</div>
<hr style="margin-top:0px;" />
<div class="container" style="position:center;">
    @foreach (var loan in Model)
    {
        <div class="container" style="margin-bottom:3px; padding-left:95px;">
            <div class="row" style="height:55px; width:1050px; border-width:120px; border-radius: 10px; border:solid; padding-top:5px; ">

                <div class="col-4 col-md-3" style="text-align:left;  padding-top:3px;">
                    <h5 class="mt-1">@loan.LoanAskerNickName</h5>
                </div>
                <div class="col-6 col-md-4" style=" text-align: center; center-block;  padding-top:8px;">
                    <p class="mb-10">Requested the amount of: @loan.RequestedAmount</p>
                </div>
                <div class="col-4 col-md-3" style=" text-align: center; center-block;  padding-top:8px;">
                    <p class="mb-10">Purpouse: @loan.LoanName</p>
                </div>
                <div class="col-4 col-md-2" style=" text-align: right; padding-top:1px;">

                    
                    @if (@loan.LoanTakerId != @User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value)
                    {
                        <form class="input-group-sm" asp-controller="Loan" asp-action="ApproveLoan" asp-route-id="@loan.Id" method="get">
                            <input class="btn-primary mb-xl-4 btn btn-light mb-2 w-20 p-2 fw-bold" style="color:black; background-color:aqua;" type="submit" value="Approve Loan" />
                        </form>
                    }
                    else 
                    {
                                 <form class="input-group-sm" asp-controller="Loan" asp-action="DeleteLoan" asp-route-id="@loan.Id" method="get">
                                <input class="btn-primary mb-xl-4 btn btn-light mb-2 w-20 p-2 fw-bold" style="color:white; background-color:crimson;" type="submit" value="Delete Loan" />
                            </form>
                    }
                </div>

            </div>
        </div>
    }
</div>



