@using PerfectBudgetApp.Models.Loans;

@model LoanRequestViewModel

@{
    ViewBag.Title = "Request Loan";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form class="input-group-sm" method="post">
            <div class="mb-3">
                <label asp-for="@Model.LoanName" class="form-label">Name</label>
                <input asp-for="@Model.LoanName" class="form-control" aria-required="true" />
                <span asp-validation-for="LoanName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.RequestedAmount" class="form-label">Requested Amount</label>
                <input asp-for="@Model.RequestedAmount" class="form-control" aria-required="true" />
                <span asp-validation-for="RequestedAmount" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.LoanAskerNickName" class="form-label">Loan asker nickname</label>
                <input asp-for="@Model.LoanAskerNickName" class="form-control" aria-required="true" />
                <span asp-validation-for="LoanAskerNickName" class="text-danger"></span>
            </div>
         

            <div class="mb-3">
                   <input class="btn btn-primary" type="submit" value="Request Loan" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}