@using PerfectBudgetApp.Models.Expenses;

@model IEnumerable<AllExpensesViewModel>
@{
    ViewBag.Title = "All Expenses";
}


<div class="container" style=" margin-bottom:0px;  vertical-align: middle;">
      <div class="row justify-content-between">
        <div class="col-2" style=" vertical-align: middle;">
            <h1> Expenses </h1style>
        </div>
        <div class="col-2" style=" vertical-align: middle;">
            <form class="input-group-sm" asp-controller="Expense" asp-action="CreateExpense" method="get">
                <input class="mb-xl-4 btn btn-light mb-2 w-100 p-3 fw-bold" style="color:black; background-color:greenyellow;" type="submit" value="Add Expense" />
            </form>
        </div>
      </div>
</div>
<hr style="margin-top:0px;" />

<div class="text-center row">
    @foreach (var expense in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <div class="card-body">

                <h3 class="mb-0">@expense.Category</h3>
                <h5 class="mb-0">Amount: @expense.Amount</h5>
                <p class="mb-0">Date: @expense.DateOfExpense</p>
                @*<p>Category: @expense.Category</p>*@
            </div>

            <form class="input-group-sm" asp-controller="Book" asp-action="AddToCollection" asp-route-id="@expense.ExpenseId">
                <input type="submit" value="Add to Collection" class="fs-6 btn btn-success mb-3 p-2" />
            </form>
            <a href="/Book/Edit/@expense.ExpenseId" class="btn btn-warning">Edit</a>
        </div>
    }
</div>
